a {
  display: inline-block;
  margin: 10px;
  color: var(--ion-color-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--ion-color-principal);
  text-align: center;
}

hr {
  border: 0 solid  var(--ion-color-principal);
  border-radius: 10%;
  height: 1px !important;
  width: 500px !important;
  background:  var(--ion-color-principal) !important;
  display: block !important;
  font-size: 2em !important;
  opacity: 1 !important;
  visibility: visible !important;
  box-shadow: 20px 10px 10px rgba(16, 15, 15, 0.5);
}
a ion-icon {
  padding-top: 15px;
}
.header-title {
  background-color: var(--ion-color-headercolor);;
}
@media (min-width: 580px) {
  .mt-5{
    margin-top: 70px;
  }
  .header-title {
    
    margin-top: 2vh;

  }
  .margin-title {
    margin-top: 8vh;
  }
  .title {
    font-size: 35px;
    text-align: left;
  }

  .name {
    background-color:  var(--ion-color-light);
    display: flex;
    padding-left: 2vh;
    font-size: 2rem;
    color:  var(--ion-color-black);
    
  }
  .lastname {
    padding-left: 70px;
  }
  h2 span {
    background:  var(--ion-color-headercolor);;
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid #000;
    animation: typing 5s steps(30) infinite alternate;
  }
  @keyframes typing {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 3000px;
    padding: 0 50px;
    overflow: hidden;
  }

  section .content img {
    margin-top: 50px;
    border: 8px solid #f18b8b;
    float: left;
    width: 250px;
  }

  section {
    width: 100%;
    height: 100vh;
  }
  ion-checkbox {
    opacity: 1;
    background-color: rgba(0, 255, 0, 0.5);
    .checkbox-icon {
      border-color: var(--border-color);
      background: var(--background);
      box-sizing: border-box;
  }
  }
  
   ion-content {
     margin: 0;
    padding: 0;
   }

  .wave svg {
    position: relative;
    display: block;
    height: 1000px;
  }

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
}
@media (max-width: 320px) {
  .name {
    margin-left: 30px;
    background-color:  var(--ion-color-light);
    display: flex;
    padding-left: 2vh;
    font-size: 2rem;
    color:  var(--ion-color-black);
  }
}

@media (max-width: 580px) {
  .mt-5{
    margin-top: 70px;
  }
  .name {
    margin-left: 70px;
    background-color:  var(--ion-color-light);
    display: flex;
    padding-left: 2vh;
    font-size: 2rem;
    color:  var(--ion-color-black);
  }
  
   .lastname {
    padding-left: 30px;
  }

  h2 span {
    background:  var(--ion-color-headercolor);
    position: absolute;
    right: 0;
    width: 0;
    border-left: 1px solid #000;
    animation: typing 5s steps(30) infinite alternate;
  }
  @keyframes typing {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  section .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }

  section .content img {
    margin-top: 10vh;
    border: 8px solid #f18b8b;
    width: 250px;
    display: block;
    margin-left:100px ;
  }
  .center-img {
    text-align: center;
  }

  section {
    width: 100%;
    height: 100vh;
  }

  .wave svg {
    position: relative;
    display: block;
    height: 1000px;
  }

  .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }
  * {
    text-align: center;
  }
}

