<ion-footer>
  <ion-toolbar>
    <h2>Contactame</h2>
    <ion-row>
      <ion-col size="6"  sizeSm="6" sizeXs="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-item>
          <ion-icon color="light" name="mail-outline"></ion-icon>
          <a class="ion-wrap" href="mailto:alejandra.riveros.alfonso@gmail.com">
            alejandra.riveros.alfonso@gmail.com
          </a>
        </ion-item>
      </ion-col>
      <ion-col size="6"  sizeSm="6" sizeXs="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-item>
          <ion-icon color="light" name="logo-linkedin"></ion-icon>
          <a
            class="network"
            target="_blank"
            href="https://www.linkedin.com/in/alejandra-r-85a973172/"
          >
          Alejandra Riveros
          </a>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6"  sizeSm="6" sizeXs="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-item>
          <ion-icon color="light" name="logo-github"></ion-icon>
          <a class="network"  href="https://github.com/ariverosalfonso" target="_blank">
            @ariverosalfonso
          </a>
          
        </ion-item>
      </ion-col>
      <ion-col size="6"  sizeSm="6" sizeXs="12" sizeMd="6" sizeLg="6" sizeXl="6">
        <ion-item>
          <ion-icon color="light" name="logo-tiktok"></ion-icon>
          <a
            class="network"
            target="_blank"
            href="https://www.tiktok.com/@code_aleja?is_from_webapp=1&sender_device=pc"
          >
          @code_aleja
          </a>
          
          
        </ion-item>
      </ion-col>
    </ion-row>
   
  </ion-toolbar>
</ion-footer>


